/* FONTS */
@font-face {
    font-family: 'GothFont';
    src: url(./src/assets/soft.otf) format(truetype);
    font-weight: normal;
    font-size: normal;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(160deg, #0f0f0f, #1a1a2e, #16213e);
    color: white;
}

nav {
    background-color: black;
    width: 75%;
    margin: 25px auto;
    border-radius: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    transition: transform 1s ease, color 1s ease, background-color 1s ease;
}

nav a:hover {
    color: red;
    transform: scale(1.25);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

#clock {
    font-family: 'GothFont';
    font-size: 10vw;
}